@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 25%;}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

@mixin mediaLg{
    @media screen and (min-width: 600px) and (max-width: 1000px) {
        @content;
    }
}

@mixin mediaMd{
    @media screen and (min-width: 600px) and (max-width: 600px) {
        @content;  
    }
}

@mixin mediaSm{
  @media screen and (max-width: 400px) {
      @content;  
  }
}