


@include mediaMd{
    .landing-page-wrapper p:first-child{
        font-size:52px; 
    }
    .navbar {
        background: rgb(255, 255, 255); /* NON-IE */
        box-shadow: 0 0 10px #333;
    }
    .nav-item a:before {
        content: "";
        position: absolute;
        width: 12%;
        height: 1px;
        bottom: 8px;
        left: 0;
        right:0;
        background-color:black;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
      
    .nav-item a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    .wrapper{
      width: 400px;
      height: 400px;
      background: white; 
      position: relative;
      overflow: hidden;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0;
      margin:10px;
      transform: scale(0.95);
      transition: box-shadow 0.5s, transform 0.5s;
      &:focus{
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
      }
      
      .container5{
        width:100%;
        height:100%;
        .black-tint{
          background-color:#3a4660;
          z-index:10;
          height:100%;
          width: 100%;
          opacity :0.75;
        }
        .top{
          height: 85%;
          width:100%;
          // background: (
          //     url(/memespiration.jpg) no-repeat center center
          //     );
          
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
          .project-card-image{
              padding-top:65px;
              height:100%;
              width:100%;
          }
        }
        .title{
            font-weight:700;
            font-size:32px;
            z-index: 5;
            position:absolute;
            background-color:#3a4660;
            color:white;
            width:100%;
            height:17.5%;
            padding-top:7px;
            padding-left:20px;
            
            
        }
        .bottom{
          width: 100%;
          height: 15%;
          transition: transform 0.5s;
          background: #f4f4f4;
          text-align: center;
          &.clicked{
            transform: translateX(-50%);
          }
          a{
              margin-top:10px;
              background-color:#3a4660;
              color:white;
          }
          
        }
      }
      
      .inside{
        z-index:9;
        background: #3a4660;
        width:140px;
        height:140px;
        position: absolute;
        top: -70px;
        right: -70px;
        border-radius: 0px 0px 200px 200px;
        transition: all 0.5s, border-radius 2s, top 1s;
        overflow: hidden;
        .icon{
          position:absolute;
          right:65px;
          top:81px;
          color:white;
          opacity: 1;
        }
         &:hover {
          width:100%;
          right:0;
          top:0;
          border-radius: 0;
          height:85%;
          .icon{
            opacity: 0;
            right:15px;
            top:15px;
          }
          .contents{
            opacity: 1;
            transform: scale(1);
            transform: translateY(0);
          }
        }
        .contents{
          padding: 5%;
          opacity: 0;
          transform: scale(0.5);
          transform: translateY(-200%);
          transition: opacity 0.2s, transform 0.8s;
          
          h1, p, table{
            color: white;
          }
          p{
            font-size:13px;
          }
        }
      }
    }
  
  
  
    @keyframes typing {
        from { width: 0 }
        to { width: 70%;}
      }

      
}


@include mediaLg{
    .about-me-picture{
        border-right:none;
    }
    .about-me-description{
        border-left:none;
    }
}





@include mediaSm{
  .landing-page-wrapper p:first-child{
    font-size:52px; 
    margin-top:-41px;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.navbar {
    background: rgb(255, 255, 255); /* NON-IE */
    box-shadow: 0 0 10px #333;
}
.nav-item a:before {
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: 8px;
    left: 0;
    right:0;
    background-color:black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.nav-item a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.landing-page{
  height:100vh;
  background-image: url("/home2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-attachment: scroll;
  color:#3a4660;
}
//   .landing-page{
//   height:100vh;
//   width:100%;
//   // background-image: url("/home.jpg");
//   background-size:cover;
//   // background-repeat: no-repeat;
//   // background-position: 50% 50%;
//   // background-attachment: fixed;
//   background-image:none;
//   background-color:#F4FAFF;
//   background-attachment: fixed;
//   color:#3a4660;
// }
.about-me-picture{
  border-right:none;
}
.about-me-description{
  border-left:none;
}
}
  